.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  padding: 0px var(--spacing-4, 16px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8, 32px);
  width: 100%;
}

/* CTA Section Styles */
.ctaSection {
  display: flex;
  padding: var(--spacing-24, 96px) 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--base-secondary, #001a52);
}

.ctaHeading {
  color: var(--base-primary-foreground, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-4x-large-font-size, 28.83px);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 100%;
  letter-spacing: -1px;
}

.ctaDescription {
  max-width: 580px;
  align-self: center;
  text-wrap: wrap;
  color: var(--base-primary-foreground, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-large-font-size, 18px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%;
  letter-spacing: 0.15px;
}

.ctaButton {
  display: flex;
  height: var(--height-h-11, 44px);
  padding: var(--spacing-2, 8px) var(--spacing-4, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  border-radius: var(--border-radius-full, 9999px);
  border: 1px solid var(--base-secondary, #001a52);
  background: var(--base-background, #fff);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--base-secondary, #001a52);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%;
  letter-spacing: 0.2px;
}

.ctaButton:hover {
  background: var(--base-secondary, #001a52);
  color: var(--base-secondary-foreground, #fff);
}

.ctaButton:focus {
  outline: 2px solid var(--base-primary, #e51236);
}

/* Team Section Styles */
.teamContainer {
  display: flex;
  padding: var(--spacing-24, 96px) 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--base-background, #fff);
}

.teamSection {
  display: flex;
  padding: 0px var(--spacing-4, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-12, 48px);
  width: 100%;
}

.teamHeading {
  color: var(--base-card-foreground, #283236);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--font-size-2xl);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 130%;
  letter-spacing: -0.2px;
}

.lineWrapper {
  display: flex;
  justify-content: center;
  max-width: 74rem;
  position: relative;
  width: 80%;
}

.line {
  height: 0.0625rem;
  position: relative;
  background: var(--base-border, #b3c1c7);
  width: 100%;
}

@media (max-width: 960px) {
  .lineWrapper {
    width: 92%; 
  }
}


.teamList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-6, 24px);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.teamMember {
  display: flex;
  min-width: var(--width-w-64, 256px);
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px var(--spacing-6, 24px);
  width: 100%;
  flex-wrap: wrap;
  max-width: 358px;
}

.memberCard {
  display: flex;
  min-width: var(--width-w-64, 256px);
  padding: var(--spacing-4, 16px) var(--spacing-4, 16px) var(--spacing-2, 8px)
    var(--spacing-4, 16px);
  align-items: flex-start;
  gap: var(--spacing-3, 12px);
  flex: 1 0 0;
  border-radius: var(--border-radius-xl, 12px);
  background: var(--base-card, #f0f2f4);
}

.memberAvatar {
  width: 48px;
  height: var(--height-h-12, 48px);
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-md, 6px);
  position: relative;
  overflow: hidden;
}

.avatarImage {
  object-fit: cover;
}

.memberName {
  align-self: stretch;
  color: var(--base-card-foreground, #283236);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-large-font-size, 18px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 100%;
  letter-spacing: 0.15px;
}

.memberRole {
  align-self: stretch;
  color: var(--base-muted-foreground, #495b62);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 150%;
  letter-spacing: 0.2px;
}

.memberLink {
  display: flex;
  height: var(--height-h-11, 44px);
  padding: var(--spacing-2, 8px) 0px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  border-radius: var(--border-radius-full, 9999px);
  background: var(--colors-base-transparent, rgba(255, 255, 255, 0));
  text-decoration: underline;
  color: var(--base-link, #00287e);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%;
  letter-spacing: 0.2px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.memberLink:focus {
  outline: 2px solid #1e2761;
  outline-offset: 2px;
}

.memberInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

/* Site Info Section Styles */
.siteContainer {
  display: flex;
  padding: var(--spacing-24, 96px) 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--base-card, #f0f2f4);
}

.siteInfoSection {
  display: flex;
  padding: 0px var(--spacing-4, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-6, 24px);
  width: 100%;
  max-width: 100%;
}

.siteInfoLayout {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  width: 100%;
  max-width: 1280px;
}

.brandInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-6, 24px);
  width: 100%;
}

.brandLogo {
  display: flex;
  width: 179.667px;
  height: var(--width-w-11, 44px);
  justify-content: center;
  align-items: center;
  aspect-ratio: 179.67/44;
}

.brandDescription {
  max-width: 532px;
  width: 100%;
  color: var(--base-muted-foreground, #495b62);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 150%;
  letter-spacing: 0.2px;
}

.brandLink {
  display: flex;
  height: var(--height-h-11, 44px);
  padding: var(--spacing-2, 8px) 0px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  border-radius: var(--border-radius-full, 9999px);
  background: var(--colors-base-transparent, rgba(255, 255, 255, 0));
  border: none;
  color: var(--base-link, #00287e);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%;
  letter-spacing: 0.2px;
  text-decoration: underline;
  cursor: pointer;
}

.brandLink:hover,
.memberLink:hover path,
.memberLink:hover {
  color: #0143d3;
  fill: #0143d3;
}

.copyright {
  color: var(--base-muted-foreground, #495b62);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.footerNavigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: var(--spacing-6, 24px);
  width: 100%;
}

.socialNav {
  display: flex;
  min-width: var(--width-w-44, 176px);
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.siteNav {
  display: flex;
  min-width: var(--width-w-44, 176px);
  flex-direction: column;
  width: 100%;
}

.navHeading {
  display: flex;
  width: 68px;
  height: var(--height-h-11, 44px);
  flex-direction: column;
  justify-content: center;
  color: var(--base-card-foreground, #283236);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%;
}

.siteHeading {
  display: flex;
  width: 117px;
  height: var(--height-h-11, 44px);
  flex-direction: column;
  justify-content: center;
  color: var(--base-card-foreground, #283236);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%;
  letter-spacing: 0.2px;
}

.socialList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.siteNavList {
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.socialList li,
.siteNavList li {
  margin-bottom: 0.625rem;
  width: 100%;
}

.socialList a {
  text-decoration: none;
  color: #333;
  font-size: 0.875rem;
  transition: color 0.2s ease;
  width: 100%;
}

.siteNavList a {
  display: flex;
  border-radius: var(--border-radius-full, 22px);
  background: var(--colors-base-transparent, rgba(255, 255, 255, 0));
  height: var(--height-h-11, 44px);
  padding: var(--spacing-2, 8px) 0px;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-2, 8px);
  color: var(--base-muted-foreground, #495b62);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%;
  letter-spacing: 0.2px;
  width: 100%;
}

.socialList a:hover,
.siteNavList a:hover {
  color: #ff4040;
}

.socialList a:focus,
.siteNavList a:focus {
  outline: 2px solid #ff4040;
  outline-offset: 2px;
}

.socialLink {
  display: flex;
  height: var(--height-h-11, 44px);
  padding: var(--spacing-2, 8px) 0px;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-2, 8px);
  border-radius: var(--border-radius-full, 22px);
  color: var(--base-muted-foreground, #495b62);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%;
  width: 100%;
}

.socialLink svg {
  width: var(--width-w-4, 16px);
  height: 16px;
  aspect-ratio: 1/1;
  stroke-width: 1px;
  stroke: var(--Border-border-transparent, rgba(0, 0, 0, 0.1));
}

/* Responsive Styles */
@media (min-width: 1100px) {
  .footerNavigation {
    width: 38%;
  }

  .teamMember {
    display: flex;
    min-width: var(--width-w-64, 256px);
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px var(--spacing-6, 24px);
    width: 100%;
    flex-wrap: wrap;
    max-width: 358px;
    justify-content: center;
  }

  .teamList {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1280px;
  }

  .teamSection {
    display: flex;
    max-width: 1280px;
    padding: 0px var(--spacing-12, 48px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-12, 48px);
    width: 100%;
  }

  .siteInfoSection {
    display: flex;
    max-width: 1280px;
    padding: 0px var(--spacing-12, 48px);
    align-items: flex-start;
    gap: var(--spacing-6, 24px);
    width: 100%;
  }

  .siteInfoLayout {
    flex-direction: row;
  }

  .brandInfo {
    padding-right: var(--spacing-12, 48px);
  }
}

@media (min-width: 560px) and (max-width: 1099px) {
  /* 768px */
  .teamSection {
    align-items: center;
  }

  .teamList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
  }

  .brandInfo {
    flex-basis: 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .siteInfoSection {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 30rem) {
  /* 480px */
  .teamMember {
    width: 100%;
  }

  .memberCard {
    margin-inline: auto;
  }

  .footerNavigation {
    width: 100%;
  }

  .socialNav,
  .siteNav {
    width: 100%;
  }

  .siteInfoSection {
    padding: 0px var(--spacing-4, 16px);
    width: 100%;
  }
}
