.positionButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button,
.activeButton,
.skillButton,
.selectedSkillButton,
.submitButton {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #ddd;
}

.button {
  background-color: #f5f5f5;
  color: #333;
}

.activeButton {
  background-color: #2563eb;
  color: white;
  border-color: #2563eb;
}

.skillsSection {
  margin: 20px 0;
}

.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.skillButton {
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
}

.selectedSkillButton {
  background-color: #3b82f6;
  color: white;
  border-color: #3b82f6;
}

.skillButton:hover, 
.button:hover {
  background-color: #edf2f7;
}

.selectedSkillButton:hover {
  background-color: #2563eb;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.tabGroup {
  display: flex;
  overflow: hidden;
  width: fit-content;
  border-radius: var(--border-radius-lg, 10px);
}

.tab, 
.activeTab {
  padding: 8px 16px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  font-weight: 500;
  min-width: 40px;
  text-align: center;
  color: black;
}


.activeTab {
  background-color: #c8ccd1;
}

.tab:hover {
  background-color: #c8ccd1;
}

.submitButton {
  background-color: #10b981;
  border-color: #10b981;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: 600;
}

.submitButton:hover {
  background-color: #059669;
}