:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-foreground: #0f1314;
  --base-background: #fff;
  --base-muted-foreground: #495b62;
  --base-input: #bfbfbf;
  --base-link: #00287e;
  --base-secondary: #001a52;
  --base-secondary-foreground: #fff;
  --colors-base-transparent: #fff0;
  --typography-font-family-font-sans: Inter, sans-serif;
  --typography-base-sizes-base-font-size: 1rem;
  --typography-base-sizes-base-line-height: 1.5rem;
  --typography-base-sizes-xlarge-font-size: 1.25rem;
  --typography-base-sizes-large-line-height: 1.75rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --height-h-11: 2.75rem;
  --width-w-80: 20rem;
  --border-radius-lg: 0.625rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

h3 {
  /* Typography */
  color: var(--base-primary-foreground, #fff);
  font-feature-settings: "liga" off, "clig" off;

  /* heading-3/leading-normal/medium -MOBILE */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-2x-large-font-size, 1.42375rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 130%; /* 1.85088rem */
  letter-spacing: -0.0125rem;
}

p {
  /* color: var(--base-foreground, #0f1314); */
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/regular */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.0125rem;
}
