.heroContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  max-height: 1100px;
}

.sectionWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pageWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footerDesc {
  display: flex;
  max-width: 28.75rem;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-10, 2.5rem);
  align-self: stretch;
}

.heroContent {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  max-width: 48.875rem;
  padding: 6rem 0;
}

.ellipseTextWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 40vh;
}

.ellipseMobile {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  top: -6rem;

  min-width: 35rem;
  min-height: 35rem;

  z-index: -1;
  border-radius: 50%;
  background: var(--base-background, #fff);
  box-shadow: 0px 193px 54px 0px rgba(229, 18, 54, 0),
    0px 123px 49px 0px rgba(229, 18, 54, 0.03),
    0px 69px 42px 0px rgba(229, 18, 54, 0.1),
    0px 31px 31px 0px rgba(229, 18, 54, 0.17),
    0px 8px 17px 0px rgba(229, 18, 54, 0.2);

  @media screen and (min-width: 960px) {
    display: none;
  }
}

.ellipseDesktop {
  display: none;

  @media screen and (min-width: 960px) {
    display: block;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    top: -7rem;

    width: 38.625rem;
    height: 38.625rem;
    max-width: 38.625rem;
    max-height: 38.625rem;

    z-index: -1;
    border-radius: 50%;
    background: var(--base-background, #fff);
    box-shadow: 0px 193px 54px 0px rgba(229, 18, 54, 0),
      0px 123px 49px 0px rgba(229, 18, 54, 0.03),
      0px 69px 42px 0px rgba(229, 18, 54, 0.1),
      0px 31px 31px 0px rgba(229, 18, 54, 0.17),
      0px 8px 17px 0px rgba(229, 18, 54, 0.2);
  }
}

.logoContainer {
  margin-bottom: 1rem;
  position: relative;
  z-index: 3;
}

.yrgoLogo {
  width: 6.125rem;
  height: 1.5rem;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  max-width: 28.75rem;
  position: relative;
  z-index: 2;
}

.mingelstundHeading {
  color: #001a52;
  font-family: var(--font-unna);
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.09rem;
  margin: 0;
  transition: font-size 0.3s ease;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #001a52;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}

.heroDescription {
  color: #0f1314;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.0125rem;
  text-align: center;
  max-width: 28.75rem;
}

.registerButton {
  display: flex;
  height: 2.75rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 624.9375rem;
  background: #e51236;
  border: 1px solid #e51236;
  color: #fff;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0125rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.registerButton:hover {
  background: #fff;
  color: #e51236;
  border-color: #fff;
}

.scrollPrompt {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base-muted-foreground, #495b62);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/regular */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.0125rem;
  margin-top: auto;
  padding-bottom: 2rem;
}

.scrollButton {
  display: flex;
  height: 2.75rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 624.9375rem;
  background: transparent;
  border: none;
  color: #0f1314;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--base-link, #00287e);
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.0125rem;
}

.scrollButton:hover {
  text-decoration: underline;
}

.mainContentWrapper {
  display: flex;
  padding: 3rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
}

.ctaText {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.ctaText h2 {
  color: #001a52;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 130%;
}

.ctaText p {
  color: #0f1314;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.createProfileButton {
  display: flex;
  height: 2.75rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 624.9375rem;
  border: 1px solid #001a52;
  background: #001a52;
  color: #fff;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0125rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.createProfileButton:hover {
  background: #fff;
  color: #001a52;
  border-color: #001a52;
}

.companyList {
  display: flex;
  padding: 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.spacer {
  width: 0.0625rem;
  height: var(--width-w-4, 1rem);
  flex-shrink: 0;
  background: var(--colors-base-transparent, rgba(255, 255, 255, 0));
}

.ctaText h2 {
  color: var(--base-foreground, #0f1314);
  font-feature-settings: "liga" off, "clig" off;

  /* heading-3/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-2x-large-font-size, 1.95313rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 130%; /* 2.53906rem */
  letter-spacing: -0.0125rem;
}

.ctaText p {
  color: var(--base-muted-foreground, #495b62);
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.0125rem;
}

@media screen and (min-width: 768px) {
  .mingelstundHeading {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 960px) {
  .mingelstundHeading {
    font-size: 9.875rem;
  }

  .ellipseDesktop {
    max-width: 38.625rem;
    max-height: 38.625rem;
  }

  .yrgoLogo {
    width: 12.25rem;
    height: 3rem;
  }

  .logoContainer {
    margin-bottom: 0.5rem;
  }

  .eventDetails {
    flex-direction: row;
    gap: 2rem;
  }

  .heroContent {
    padding: 5rem 2rem;
  }

  .mainContentWrapper {
    display: flex;
    padding: var(--spacing-24, 6rem) 0;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-12, 3rem);
    align-self: stretch;
    flex-direction: row;
    max-width: 80rem;
    width: 100%;
  }

  .ctaText {
    padding: 3rem;
    flex: 1 0 0;
  }

  .companyList {
    padding: 0 3rem;
    align-items: flex-end;
    flex: 1 0 0;
  }

  .companyList button {
    align-self: flex-end;
  }
}

.floatingLogoContainer {
  max-width: 80rem;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
  perspective: 1000px;
}

/* Define the floating animation */
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-8px) rotate(1deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(8px) rotate(-1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

/* Define flying left animation */
@keyframes flyLeft {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(-300px, -200px, 300px) rotate(-45deg) scale(0.2);
    opacity: 0;
  }
}

/* Define flying right animation */
@keyframes flyRight {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(300px, -200px, 300px) rotate(45deg) scale(0.2);
    opacity: 0;
  }
}

/* Define flying return animation */
@keyframes flyReturn {
  0% {
    opacity: 0;
    transform: translate3d(var(--tx, 0), var(--ty, 0), var(--tz, 0)) rotate(var(--rot, 0deg)) scale(var(--scale, 0.2));
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
  }
}

.floatingLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent; 
  width: 10rem; 
  height: 5rem; 
  max-width: 12rem;
  max-height: 6rem;
  aspect-ratio: auto !important;
  border-radius: var(--border-radius-md, 0.375rem);
  border: none;
  box-shadow: 0px 23px 6px 0px rgba(0, 0, 0, 0),
    0px 15px 6px 0px rgba(0, 0, 0, 0.01), 0px 8px 5px 0px rgba(0, 0, 0, 0.02),
    0px 4px 4px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  
  /* Initial floating animation */
  animation: float 6s ease-in-out infinite;
}

.floatingLogo svg {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: .75rem;
}

.floatingLogo svg g {
  transform: translate(0, 0);
}

/* Left side logos flying out */
.floatingLogo:nth-child(1).scroll-down,
.floatingLogo:nth-child(2).scroll-down,
.floatingLogo:nth-child(3).scroll-down {
  animation: flyLeft 0.8s forwards !important;
}

/* Right side logos flying out */
.floatingLogo:nth-child(4).scroll-down,
.floatingLogo:nth-child(5).scroll-down,
.floatingLogo:nth-child(6).scroll-down {
  animation: flyRight 0.8s forwards !important;
}

/* All logos flying back in */
.floatingLogo.scroll-up {
  animation: flyReturn 0.8s forwards !important;
}

/* Left side logos */
.floatingLogo:nth-child(1) {
  left: 12%;
  top: 5%;
  --tx: -300px;
  --ty: -200px;
  --tz: 200px;
  --rot: -45deg;
  --scale: 0.2;
  animation-duration: 6s;
  animation-delay: 0s;
}

.floatingLogo:nth-child(2) {
  left: 5%;
  top: 35%;
  --tx: -250px;
  --ty: 50px;
  --tz: 150px;
  --rot: 30deg;
  --scale: 0.3;
  animation-duration: 7s;
  animation-delay: 0.5s;
}

.floatingLogo:nth-child(3) {
  left: 15%;
  top: 70%;
  --tx: -200px;
  --ty: 200px;
  --tz: 100px;
  --rot: -60deg;
  --scale: 0.25;
  animation-duration: 5s;
  animation-delay: 1s;
}

/* Right side logos */
.floatingLogo:nth-child(4) {
  right: 9%;
  top: 12%;
  --tx: 300px;
  --ty: -200px;
  --tz: 200px;
  --rot: 45deg;
  --scale: 0.2;
  animation-duration: 6.5s;
  animation-delay: 0.3s;
}

.floatingLogo:nth-child(5) {
  right: 5%;
  top: 35%;
  --tx: 250px;
  --ty: 50px;
  --tz: 150px;
  --rot: -30deg;
  --scale: 0.3;
  animation-duration: 5.5s;
  animation-delay: 0.8s;
}

.floatingLogo:nth-child(6) {
  right: 15%;
  top: 70%;
  --tx: 200px;
  --ty: 200px;
  --tz: 100px;
  --rot: 60deg;
  --scale: 0.25;
  animation-duration: 7.5s;
  animation-delay: 1.2s;
}

@media screen and (max-width: 960px) {
  .floatingLogo {
    display: none;
  }
}