.heroContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 0 1rem;
}

.pageWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footerDesc {
  display: flex;
  max-width: 28.75rem;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-10, 2.5rem);
  align-self: stretch;
}

.heroContent {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  max-width: 48.875rem;
  padding: 6rem 0;
}

.ellipseTextWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 40vh;
}


.ellipseMobile {
  position: absolute;
  left: 50%;
  top: 40%; 
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background: var(--base-background, #fff);
  box-shadow: 0px 193px 54px 0px rgba(229, 18, 54, 0),
    0px 123px 49px 0px rgba(229, 18, 54, 0.03),
    0px 69px 42px 0px rgba(229, 18, 54, 0.1),
    0px 31px 31px 0px rgba(229, 18, 54, 0.17),
    0px 8px 17px 0px rgba(229, 18, 54, 0.2);

  @media screen and (min-width: 960px) {
    display: none;
  }
}

.ellipseDesktop {
  display: none;

  @media screen and (min-width: 960px) {
    display: block;
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    width: 38.625rem;
    height: 38.625rem;
    z-index: -1;
    border-radius: 50%;
    background: var(--base-background, #fff);
    box-shadow: 0px 193px 54px 0px rgba(229, 18, 54, 0),
      0px 123px 49px 0px rgba(229, 18, 54, 0.03),
      0px 69px 42px 0px rgba(229, 18, 54, 0.1),
      0px 31px 31px 0px rgba(229, 18, 54, 0.17),
      0px 8px 17px 0px rgba(229, 18, 54, 0.2);
  }
}

.logoContainer {
  margin-bottom: 1rem;
  position: relative;
  z-index: 3;
}

.yrgoLogo {
  width: 6.125rem;
  height: 1.5rem;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  max-width: 28.75rem;
  position: relative;
  z-index: 2;
}

.mingelstundHeading {
  color: #001a52;
  font-family: var(--font-unna);
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.09rem;
  margin: 0;
  transition: font-size 0.3s ease;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #001a52;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}

.heroDescription {
  color: #0f1314;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.0125rem;
  text-align: center;
  max-width: 28.75rem;
}

.registerButton {
  display: flex;
  height: 2.75rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 624.9375rem;
  background: #e51236;
  border: 1px solid #e51236;
  color: #fff;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0125rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.registerButton:hover {
  background: #fff;
  color: #e51236;
  border-color: #fff;
}

.scrollPrompt {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base-muted-foreground, #495b62);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/regular */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.0125rem;
  margin-top: auto;
  padding-bottom: 2rem;
}

.scrollButton {
  display: flex;
  height: 2.75rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 624.9375rem;
  background: transparent;
  border: none;
  color: #0f1314;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--base-link, #00287e);
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.0125rem;
}

.scrollButton:hover {
  text-decoration: underline;
}

.mainContentWrapper {
  display: flex;
  padding: 3rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
}

.ctaText {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.ctaText h2 {
  color: #001a52;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 130%;
}

.ctaText p {
  color: #0f1314;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.createProfileButton {
  display: flex;
  height: 2.75rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 624.9375rem;
  border: 1px solid #001a52;
  background: #001a52;
  color: #fff;
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0125rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.createProfileButton:hover {
  background: #fff;
  color: #001a52;
  border-color: #001a52;
}

.companyList {
  display: flex;
  padding: 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.spacer {
  width: 0.0625rem;
  height: var(--width-w-4, 1rem);
  flex-shrink: 0;
  background: var(--colors-base-transparent, rgba(255, 255, 255, 0));
}


@media screen and (min-width: 768px) {
  .mingelstundHeading {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 960px) {
  .mingelstundHeading {
    font-size: 9.875rem;
  }

  .ellipseDesktop {
    max-width: 38.625rem;
    max-height: 38.625rem;
  }

  .yrgoLogo {
    width: 12.25rem;
    height: 3rem;
  }

  .logoContainer {
    margin-bottom: 0.5rem;
  }

  .eventDetails {
    flex-direction: row;
    gap: 2rem;
  }

  .heroContent {
    padding: 5rem 2rem;
  }

  .mainContentWrapper {
    flex-direction: row;
    padding: 6rem 3rem;
    justify-content: center;
    align-items: center;
  }

  .ctaText {
    padding: 3rem;
    flex: 1 0 0;
  }

  .companyList {
    padding: 0 3rem;
    align-items: flex-end;
    flex: 1 0 0;
  }

  .companyList button {
    align-self: flex-end;
  }
}
