.button {
  display: flex;
  height: var(--height-h-11, 44px);
  padding: var(--spacing-2, 8px) var(--spacing-4, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  align-self: stretch;
  border-radius: var(--border-radius-full, 9999px);
  border: 1px solid var(--base-secondary, #001a52);
  background: var(--base-secondary, #001a52);

  color: var(--base-secondary-foreground, #fff);
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%; /* 24px */
  letter-spacing: 0.2px;
  border: none;
}

.light-button {
  display: flex;
  height: var(--height-h-11, 2.75rem);
  padding: var(--spacing-2, 0.5rem) var(--spacing-4, 1rem);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 0.5rem);
  flex: 1 0 0;
  border-radius: var(--border-radius-full, 624.9375rem);
  border: 1px solid var(--base-secondary, #001a52);
  background: var(--base-background, #fff);
  width: fit-content;
}

.button:hover {
  display: inline-flex;
  height: var(--height-h-11, 2.75rem);
  padding: var(--spacing-2, 0.5rem) var(--spacing-4, 1rem);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 0.5rem);
  flex-shrink: 0;
  color: #001a52;
  border-radius: var(--border-radius-full, 624.9375rem);
  border: 1px solid var(--base-secondary, #001a52);
  background: var(--base-background, #fff);
}

.no-frame {
  display: flex;
  height: var(--height-h-11, 2.75rem);
  padding: var(--spacing-2, 0.5rem) var(--spacing-4, 1rem);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 0.5rem);
  border: none;
  background: none;
}


