.hero {
  /* Layout mobile */
  display: flex;
  max-width: 80rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-6, 1.5rem);
  align-self: stretch;

  /*Style*/
  background: var(--base-primary, #e51236);

  /* @media screen and (min-width: 1024px) {
    flex-direction: row;
  } */
}

@media (min-width: 960px) {
  .headerWrapper {
    display: flex;
    padding: var(--spacing-8, 2rem) var(--spacing-12, 3rem);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-6, 1.5rem);
    align-self: stretch;
    background: var(--base-primary, #e51236);
  }

  .hero {
    display: flex;
    max-width: 80rem;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-6, 1.5rem);
    flex: 1 0 0;
    width: 100%;
    padding: 0px var(--spacing-12, 48px);
    flex-direction: row;
  }

  .heroContent {
    display: flex;
    min-width: 20.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    flex: 1 0 0;
  }

  .textHeader {
    display: flex;
    min-width: 20.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
  }

  
}
.heroContent h1 {
  color: var(--base-primary-foreground, #fff);
  font-feature-settings: "liga" off, "clig" off;

  /* heading-3/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--font-size-2xl);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 130%; /* 2.53906rem */
  letter-spacing: -0.0125rem;
}

.heroContent {
  display: flex;
  min-width: 20.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
  justify-content: center;
}

.heroContent h3 {
  color: var(--base-primary-foreground, #fff);
  font-feature-settings: "liga" off, "clig" off;

  /* heading-3/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--font-size-2xl);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 130%; /* 1.85088rem */
  letter-spacing: -0.0125rem;
}

.textHeader {
  display: flex;
  min-width: 20.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.headerWrapper img {
  /* Layout mobile */
  min-height: 6.51975rem;
  object-fit: cover;
  aspect-ratio: 358 / 104.32;
  border-radius: var(--border-radius-xl, .75rem);
  width: 100%;

  @media screen and (min-width: 960px) {
    height: 21.5625rem;
    aspect-ratio: 1184 / 345;
    max-width: 38rem;
  }
}

@media (max-width: 960px) {
  .headerWrapper {
    display: flex;
    padding: var(--spacing-8, 2rem) var(--spacing-4, 1rem);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-6, 1.5rem);
    align-self: stretch;
    background: var(--base-primary, #e51236);
  }
}

p.large {
  color: var(--base-primary-foreground, #fff);
  font-feature-settings: "liga" off, "clig" off;

  /* large/leading-normal/regular */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-large-font-size, 1.125rem);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 150%; /* 1.6875rem */
  letter-spacing: 0.00938rem;
}

.content {
  /* Layout mobile */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-1, 0.25rem);
  align-self: stretch;
  color: var(--base-primary-foreground, #fff);
}

.content div {
  /* Layout */
  display: flex;
  flex-direction: row;

  /* Typography */
  color: var(--base-primary-foreground, #fff);
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.0125rem;
}

.content div :first-child {
  width: 3.9375rem;

  color: var(--base-secondary-foreground, #fff);
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.0125rem;
}
