.heading {
  color: var(--base-foreground, #0f1314);
  font-feature-settings: "liga" off, "clig" off;

  /* heading-3/leading-normal/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-2x-large-font-size, 1.42375rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 130%; /* 1.85088rem */
  letter-spacing: -0.0125rem;
}

.mainInformation {
  /* Layout mobile */
  display: flex;
  padding: var(--spacing-8, 2rem) var(--spacing-4, 1rem) var(--spacing-0, 0rem)
    var(--spacing-4, 1rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-6, 1.5rem);
  align-self: stretch;
  color: var(--base-foreground, #0f1314);

  @media screen and (min-width: 1024px) {
    display: flex;
    padding-right: var(--spacing-12, 3rem);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-6, 1.5rem);
    flex: 1 0 0;
  }
}

.mainDesktop {
  @media screen and (min-width: 1024px) {
    display: flex;
    max-width: 80rem;
    padding: var(--spacing-16, 4rem) var(--spacing-12, 3rem)
      var(--spacing-24, 6rem) var(--spacing-12, 3rem);
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-6, 1.5rem);
    align-self: stretch;
  }
}

.eventForm {
  /* Layout mobile */
  display: flex;
  padding: var(--spacing-8, 2rem) var(--spacing-4, 1rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-6, 1.5rem);
  align-self: stretch;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-6, 1.5rem);
    flex: 1 0 0;
  }
}

.eventForm label {
  /* Layout mobile */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  /* Typography */

  color: var(--base-foreground, #0f1314);
  font-feature-settings: "liga" off, "clig" off;

  /* body/leading-none/medium */
  font-family: var(--typography-font-family-font-sans, Inter);
  font-size: var(--typography-base-sizes-base-font-size, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 100%; /* 1rem */
  letter-spacing: 0.0125rem;
}

.eventForm input {
  /* Layout mobile */
  display: flex;
  height: var(--height-h-11, 2.75rem);
  padding: var(--spacing-1, 0.25rem) var(--spacing-3, 0.75rem);
  align-items: center;
  gap: var(--spacing-1, 0.25rem);
  align-self: stretch;

  /* Style */
  border-radius: var(--border-radius-lg, 0.625rem);
  border: 1px solid var(--base-foreground, #0f1314);
  background: var(--base-background, #fff);
}

.checkbox {
  /* Layout mobile */
  display: flex;
  min-height: var(--width-w-11, 2.75rem);
  padding: var(--spacing-3-5, 0.875rem) 0rem;
  align-items: center;
  gap: var(--spacing-2, 0.5rem);
  align-self: stretch;
}
