.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;
}

.popup-content {
  display: flex;
  width: 358px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #f1f1f1;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.close-btn {
  background-color: transparent;
  display: flex;
  height: 44px;
  justify-content: center;
  align-self: flex-end;
  gap: 8px;
  color: black;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

h2 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}

p {
  color: #404040;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

label {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

input {
  color: #7e7e7e;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  padding: 0.75rem;
  border: 1px solid #757575;
  background: #fff;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 0.75rem 1rem;
  background: #7c7c7c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #2f2f2f;
}
